In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [3]:
pizza = pd.read_csv("/home/darkstar/Documents/pg-dbda/module7_statistics/Daywise Study Material/datasets/pizza.csv")
pizza

    Promote  Sales
0        23    554
1        56   1339
2        34    815
3        25    609
4        67   1600
5        82   2000
6        46   1000
7        14    300
8         6    150
9        47   1150
10       52   1200
11       88   2000
12       71   1750
13       78   2000
14       66   1500
15       44   1000
16       68   1600
17       90   2000
18       22    550

In [14]:
X = pizza[['Promote']]
y = pizza['Sales']

poly = PolynomialFeatures(degree=2)

X_poly = poly.fit_transform(X)
print(poly.get_feature_names_out())

['1' 'Promote' 'Promote^2']

In [12]:
lr = LinearRegression()
lr.fit(X_poly, y)

print("b0", lr.intercept_)
print("b1", lr.coef_)

['1' 'dis' 'lstat' 'dis^2' 'dis lstat' 'lstat^2' 'dis^3' 'dis^2 lstat'
 'dis lstat^2' 'lstat^3' 'dis^4' 'dis^3 lstat' 'dis^2 lstat^2'
 'dis lstat^3' 'lstat^4' 'dis^5' 'dis^4 lstat' 'dis^3 lstat^2'
 'dis^2 lstat^3' 'dis lstat^4' 'lstat^5']
b0 78.12474720350068
b1 [ 0.00000000e+00 -1.88584681e+01 -2.26482269e+00  7.13393060e+00
 -1.54079779e+00 -2.13278260e-01 -1.13972543e+00 -1.78768480e-01
  2.87818790e-01  8.04023214e-03  8.08009122e-02  4.49281184e-02
 -1.31162611e-02 -1.00970255e-02  3.50980304e-05 -2.13624900e-03
 -1.90601615e-03 -3.21619611e-04  3.76308464e-04  9.81861001e-05
 -2.22713157e-06]

## Boston Dataset

In [9]:
boston = pd.read_csv("/home/darkstar/Documents/pg-dbda/module7_statistics/Daywise Study Material/datasets/Boston.csv")
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [11]:
X = boston[['dis', 'lstat']]
y = boston['medv']

poly = PolynomialFeatures(degree=5)
X_poly = poly.fit_transform(X)
print(poly.get_feature_names_out())

['1' 'dis' 'lstat' 'dis^2' 'dis lstat' 'lstat^2' 'dis^3' 'dis^2 lstat'
 'dis lstat^2' 'lstat^3' 'dis^4' 'dis^3 lstat' 'dis^2 lstat^2'
 'dis lstat^3' 'lstat^4' 'dis^5' 'dis^4 lstat' 'dis^3 lstat^2'
 'dis^2 lstat^3' 'dis lstat^4' 'lstat^5']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X_poly, y, test_size = 0.3, random_state = 23)
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("mean_squared_error:",mean_squared_error(y_test, y_pred))

mean_squared_error: 1612.0308033062267

## using kFold

In [40]:
kfold = KFold(n_splits=5, shuffle=True, random_state=23)
lr = LinearRegression()
degrees = [1,2,3,4,5]
scores = []
for i in degrees:
    poly = PolynomialFeatures(degree=i)
    X_poly = poly.fit_transform(X)
    results = cross_val_score(lr, X_poly, y, cv=kfold, scoring='neg_mean_squared_error')
    scores.append(results.mean())
i_max = np.argmax(scores)
print("Best Degree: ", degrees[i_max])
print("Best Scores: ", scores[i_max])

Best Degree:  2
Best Scores:  -17.010692384807435

crosss_val_score is used for evaluating the model's performance by performing cross validation using kfolds.

GridSearchCV is used for hyperparameter tuning, which involves finding the optimal values for hyperparameter of ML model.

## All variables in Boston Dataset

In [34]:
X = boston.drop(['medv'], axis = 1)
y = boston['medv']

kfold = KFold(n_splits = 5, shuffle=True, random_state=23)

In [39]:
lr = LinearRegression()
degrees = [1,2,3,4,5]
scores = []
for i in degrees:
    poly = PolynomialFeatures(degree=i)
    X_poly = poly.fit_transform(X)
    results = cross_val_score(lr, X_poly, y, cv=kfold, scoring='neg_mean_squared_error')
    scores.append(results.mean())
i_max = np.argmax(scores)
print("Best degree", degrees[i_max])
print("Best scores", scores[i_max])

Best degree 2
Best scores -17.010692384807435